rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /newsletter/{document=**} {
      allow read: if false;
      allow update: if false;
      allow delete: if false;
      allow create: if true;
    }

    match /contactUs/{document=**} {
      allow read: if false;
      allow update: if false;
      allow delete: if false;
      allow create: if true;
    }

    // All Flamelink root collections
    match /{root}/{document=**} {
      allow read, write: if isSignedIn() && root in [
        "fl_backups",
        "fl_content",
        "fl_environments",
        "fl_files",
        "fl_folders",
        "fl_locales",
        "fl_navigation",
        "fl_permissions",
        "fl_schemas",
        "fl_settings",
        "fl_users",
        "fl_webhooks",
        "fl_workflows"
      ];
    }

    // Flamelink Webhooks Activity Log sub-collection
    match /fl_webhooks/{document}/activityLog/{log} {
      allow read, write: if isSignedIn();
    }
  }

  function isSignedIn() {
    return request.auth.uid != null;
  }
}